**Classifying Exoplanets: Exploring NASA's Kepler Space Observatory Dataset**

Space has always beckoned humanity to explore its depths. One of the most fascinating subjects in astronomical research is exoplanets, planets that orbit stars beyond our solar system. Examining exoplanets gives insight into planetary formation and evolution, critical information when searching for habitable planets.

The Kepler Space Observatory, a NASA space telescope for finding exoplanets, has analyzed thousands of planets, especially ones that are roughly Earth-sized and located within the habitable zones of their parent stars. From 2009 to 2018, Kepler revolutionized our understanding of extrasolar systems by cross-checking previous observations of exoplanets and labeling them as confirmed planets, candidates, or false positives.

Our primary question is: *Can we accurately classify celestial bodies as exoplanets based on their observed characteristics using the Kepler exoplanet dataset?*

Our project will analyze the NASA Kepler exoplanet dataset from the Kepler Telescope. This dataset contains details about celestial objects, including their radius, transit, stellar luminosity, and other essential attributes. By analyzing this dataset, we hope to develop a predictive model that discerns exoplanets from other extrasolar entities, furthering our understanding of the universe.

In [2]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source('cleanup.R')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [3]:

##Reaing the data 
exoplanet <- read_csv("https://raw.githubusercontent.com/QuwackJ/dsci-100-group-37/main/Data/cumulative.csv")


##Selecting for our predictors
exoplanet_selected <- exoplanet |>
                        select(koi_disposition, koi_period, koi_depth, koi_duration, koi_impact)


tail(exoplanet_selected)

##splitting into training and testing data
exoplanet_split <- initial_split(exoplanet_selected, prop = 0.75, strata = koi_disposition)
training_data <- training(exoplanet_split)   
testing_data <- testing(exoplanet_split)



# COUNT of all CONFIRMED, FALSE POSITIVE, and CANDIDATE planets

Rows: 9564 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): kepoi_name, kepler_name, koi_disposition, koi_pdisposition, koi_tc...
dbl (43): rowid, kepid, koi_score, koi_fpflag_nt, koi_fpflag_ss, koi_fpflag_...
lgl  (2): koi_teq_err1, koi_teq_err2

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  koi_disposition koi_period koi_depth koi_duration koi_impact
1 CANDIDATE       47.1096306  752.2    5.7410       1.230
2 FALSE POSITIVE   8.5898708   87.7    4.8060       0.765
3 FALSE POSITIVE   0.5276985 1579.2    3.2221       1.252
4 CANDIDATE        1.7398494   48.5    3.1140       0.043
5 FALSE POSITIVE   0.6814016  103.6    0.8650       0.147
6 FALSE POSITIVE   4.8560348   76.7    3.0780       0.134

  koi_period koi_depth koi_duration koi_impact
1 80.445     23356.05  5.641699     0.7256953

  koi_period koi_depth koi_duration koi_impact
1 26.95055   1140.939  4.309482     0.4208111

  koi_period koi_depth koi_duration koi_impact
1 73.64063   44131.4   6.607775     0.9504213

In [4]:
Mean value of all predictors for the whole dataset

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected symbol
1: Mean value
         ^

In [5]:
##MEAN value of all predictors for the whole dataset
summary_table <- training_data |>
                    select(-koi_disposition) |>
                    map_df(mean, na.rm = TRUE)
summary_table

  koi_period koi_depth koi_duration koi_impact
1 80.445     23356.05  5.641699     0.7256953

In [6]:
Mean value of all predictors for confirmed exoplanets

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected symbol
1: Mean value
         ^

In [7]:
##MEAN value of all predictors for confirmed exoplanets
summary_table_confirmed <- training_data |>
                    filter(koi_disposition == "CONFIRMED") |>
                    select(-koi_disposition) |>
                    map_df(mean, na.rm = TRUE)
summary_table_confirmed

  koi_period koi_depth koi_duration koi_impact
1 26.95055   1140.939  4.309482     0.4208111

In [8]:
Mean value of all predictors for false positives that are not exoplanets

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected symbol
1: Mean value
         ^

In [9]:
summary_table_false <- training_data |>
                    filter(koi_disposition == "FALSE POSITIVE") |>
                    select(-koi_disposition) |>
                    map_df(mean, na.rm = TRUE)
summary_table_false

  koi_period koi_depth koi_duration koi_impact
1 73.64063   44131.4   6.607775     0.9504213